* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(0, 68, 136);
}
/* 顶部导航栏 */
.top_nav{
    width: 100%;
    height: 30px;
    background-color: #222;
}
/* 顶部导航栏中间区域 */
.top_nav>.center{
    width: 1000px;
    height: 100%;
    margin: auto;
}
.top_nav>.center>div{
    width: 50%;
    height: 100%;
    float: left;
}
.top_nav>.center>div>a{
    display: block;
    text-decoration: none;
    color: #EEE;
    font-size: 14px;
    line-height: 30px;
    height: 100%;
    
    box-sizing: border-box;
}
.top_nav>.center>.left>a{
    float: left;
    margin-right: 15px;
}
/* 顶部导航栏中间区域右侧菜单 */
.top_nav>.center>.right>a{
    margin-left: 15px;
    float: right;
}
/* 顶部导航栏中间区域内DIV下标签链接 */
.top_nav>.center>div>a:hover{
    color: #188eee;
    font-weight: bold;
    border-bottom: 3px #188eee solid;

}
/* 顶部导航栏尾部清除 */
.top_nav::after{
    content: "";
    display: block;
    clear: both;
}

/* 标题栏区域 */
.header {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #888;
}
/* 标题栏左侧区域 */
.header>.left{
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
}
/* 标题栏左侧图片 */
.header>.left>img {
    height: 90%;
    mix-blend-mode: color-burn;
}

.header img:hover {
    opacity: 0.4;
}

/* 标题栏搜索区域 */
.header>.search{
    height: 100%;
    position: absolute;
    top: 40%;
    left: 40%;
}
/* 标题栏搜索区域的输入框 */
.header>.search>input[type="text"] {
    width: 300px;
    padding: 5px 10px 5px 50px;
    margin: auto;
    background-image: url(../RSS/Img/search.png);
    background-repeat: no-repeat;
    background-size: 35px;
    font-size: 20px;
}
/* 标题栏右侧区域 */
.header>.right{
    height: 90%;
    position: absolute;
    top: 5%;
    right: 15%;
}
/* 标题栏右侧图片 */
.header>.right>img {
    height: 100%;
}

.nav {
    width: 1200px;
    height: 50px;
    margin: auto;
}
.nav > div {
    float: left;
    box-sizing: border-box;
}
.nav>.left {
    width: 200px;
    height: inherit;
    background-color: rgb(51, 51, 51);
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    position: relative;
    padding-left: 50px;
}
.nav img {
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav > .right {
    width: 1000px;
    height: 50px;
    background-color: rgb(153, 153, 153);
    float: right;
}
.nav > .right > a {
    display: block;
    width: 20%;
    float: left;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}

.nav > .right > a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.navImgBk {
    width: 100%;
    height: 400px;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
}

.navImg {
    width: 1200px;
    height: 400px;
    position: relative;
    box-sizing: border-box;
    margin: auto;
}

.navImg > img {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(125, 125, 125, 0.7);
    border-image: initial;
}

.navImg > .leftMenu {
    width: 200px;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(5, 5, 5, 0.7);
    box-sizing: border-box;
}

.navImg > .leftMenu > a {
    display: block;
    width: inherit;
    height: 20%;
    text-align: center;
    line-height: 80px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
}

.navImg > .leftMenu > a:hover {
    font-size: 1.5em;
    color: rgb(24, 142, 238);
    font-weight: 600;
    border-left: 2px solid rgb(24, 142, 238);
    border-right: 2px solid rgb(24, 142, 238);
}

.navImg > .notice {
    width: 200px;
    height: 300px;
    background-color: rgba(88, 88, 88, 0.7);
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 5px;
    padding: 5px;
}

.navImg > .notice > h3 {
    mix-blend-mode: color-burn;
    font-weight: 600;
}

.navImg > .notice li {
    width: inherit;
    height: 40px;
    color: rgb(238, 238, 238);
    list-style-position: inside;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navImg > .notice a {
    color: rgb(238, 238, 238);
    font-size: 16px;
    display: inline;
    line-height: 40px;
    text-align: center;
}

.navImg > .notice a:hover {
    color: rgb(24, 142, 238);
    font-size: 20px;
}

.content {
    width: 1200px;
    height: 850px;
    margin: auto;
}
.content > .header {
    height: 50px;
}
.content > .header > .title {
    width: 300px;
    float: left;
    position: relative;
}
.content > .header > .title > img {
    width: 30px;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}
.content > .header > .title > h2 {
    text-align: center;
    line-height: 50px;
}
.content > .header > .menu {
    height: 50px;
    float: right;
    margin-right: 10px;
}
.content > .header > .menu > a {
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-decoration: none;
}

.content > .header > .menu > a:hover {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.content>.Table {
    width: 1200px;
    height: 800px;
    box-sizing: border-box;
}

.content>.Table>table {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    background-color: #2ce;
}

.content>.Table>table tr {
    box-sizing: border-box;
}

.content>.Table>table td {
    width: 25%;
    height: 25%;
    background-color: #188eee;
    box-sizing: border-box;
    border-radius: 20px;
}

.content>.Table>table td:hover {
    border: #555 5px solid;
    color: #333;
}
.content>.Table>table td:hover>a {
    color: #333;
    font-size: 2em;
    font-weight: 600;
}

.content>.Table>table td:active {
    background-color: #f80;
}

.content>.Table>table td>a {
    display: block;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
}

.footer {
    height: 100px;
    line-height:50px;
    background:#5e5e5e;
    width:100%;
    z-index:200;
    text-align:center;
}

.footer p{
    text-align:center;
    line-height:50px;
    color:#fbfbfb;
}