* {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 1200px;
    height: 80px;
    background-color: #333;
    margin: auto;
}

.header>div {
    height: 80px;
    float: left;
}

.header>.logo {
    box-sizing: border-box;
}

.header>.logo>img {
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    
    border-radius: 50%;
    border: 1px #FFF solid;
}

.header>.mod {
    margin-left: 20px;
}

.header>.mod>.menu {
    width: 135px;
    height: 80px;
    display: block;
    float: left;
} 
.header>.mod>.menu>label {
    text-align: center;
    color: #FFF;
    font-size: 30px;
    line-height: 80px;
    display: block;
}

.header>.mod>.menu:hover {
    background-color: #888;
}

.header>.mod>.menu:hover>label {
    font-size: 3em;
    font-weight: 500;
    color: #333;
}


/* 响应效果 */
.header>.mod>.menu:hover>.cont {
    display: block;
    margin: auto;
}

.header>.mod>.menu>.cont {
    width: 100%;
    height: 300px;
    margin: auto;
    position: absolute;
    left: 0px;
    top: 80px;
    display: none;
    z-index: 2;
}

.header>.mod>.menu>.cont>.center {
    width: 1200px;
    height: 300px;
    background-color: #888;
    margin: auto;
}

.header>.mod>.menu>.cont>.center>.img {
    width: 20%;
    height: 240px;
    box-sizing: border-box;
    float: left;
    position: relative;
    top: 30px;
    left: 0px;
}

.header>.mod>.menu>.cont>.center>.img>.border {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 50px rgba(255, 255, 255, 0.5) solid;
    z-index: 3;
}

.header>.mod>.menu>.cont>.center>.img>img {
    width: 200px;
    position: relative;
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    z-index: 2;
}

.header>.mod>.menu>.cont>.center>.img>img:hover
,.header>.mod>.menu>.cont>.center>.img>.border:hover {
    border: #FFF 1px solid;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav {
    width: 1200px;
    height: 600px;
    background-color: #258;
    margin: auto;
}

.nav>.circle {
    width: 500px;
    height: 500px;
    background-color: #FFF;
    border: #28E 120px solid;
    box-sizing: border-box;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 50px;
    left: auto;
}

.nav>.circle>.Ellipse {
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%/50%;
    position: relative;
    top: -20px;
    left: -120px;
}

.nav>.circle>.Ellipse>.backcircle {
    width: 260px;
    height: 260px;
    background-color: #000;
    position: relative;
    top: 20px;
    left: 120px;
    border-radius: 50%;
    box-sizing: border-box;
    border: #f00 100px solid;
}

.space {
    width: 100%;
    height: 20px;
}

/* 优惠券 */
.benefits {
    width: 1200px;
    height: 300px;
    position: relative;
    margin: auto;
}
.benefits>.bf {
    width: 400px;
    height: 100px;
    box-sizing: border-box;
}
.benefits>.bf>.left {
    width: 100px;
    height: 100px;
    background-color: #28e;
    float: left;
    line-height: 100px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}
.benefits>.bf>.left>span {
    color: #FFF;
}
.benefits>.bf>.left>span:first-child {
    font-size: 30px;
}
.benefits>.bf>.left>span:last-child {
    font-size: 10px;
}

.benefits>.bf>.right {
    width: 300px;
    height: 100px;
    float: right;
    background-color: #DDD;
    border-radius: 0px 10px 10px 0px;
}

.benefits>.bf>.right>.cont {
    width: 400px;
    height: 100px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.benefits>.bf>.right>.cont>.condition {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    position: relative;
    top: 10px;
    left: 0px;
}

.benefits>.bf>.right>.cont>.vdate {
    font-size: 12px;
    color: #555;
    position: relative;
    top: 20px;
    left: 0px;
}

.benefits>.bf>.right>.href {
    width: 80px;
    height: 100px;
    float: right;
    position: relative;
    right: 0px;
    top: -85px;
    color: #258;
}

.benefits>.bf::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;

    position: relative;
    top: 10px;
    left: 90px;
}

.benefits>.bf::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;

    position: relative;
    top: 90px;
    left: 90px;
}